{
  "openapi": "3.1.0",
  "info": {
    "title": "TetraFi Trade History API",
    "version": "1",
    "description": "Read-only, workspace-scoped access to every trade that ran through your workspace - filtered lists with offset pagination, single-trade detail keyed by order id, and CSV export, across all supported chains."
  },
  "servers": [
    {
      "url": "https://api.tetrafi.io/api/v1"
    }
  ],
  "paths": {
    "/workspaces/{id}/trades": {
      "get": {
        "summary": "Trades",
        "description": "Lists trades executed under a workspace across every supported chain in one call. Filter by status, corridor, RFC 3339 time range, LP, routing path, or USD amount range; sort by a whitelisted column; page through results with limit and offset.",
        "operationId": "getTrades",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workspace Id",
              "description": "Workspace whose trades are returned - results are scoped to it"
            },
            "description": "Workspace whose trades are returned - results are scoped to it",
            "example": "ws_123"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Status",
              "description": "Filter by settlement status bucket; pass all (or omit) for every status"
            },
            "description": "Filter by settlement status bucket; pass all (or omit) for every status",
            "example": "settled"
          },
          {
            "name": "corridor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Corridor",
              "description": "Directional corridor as source-dest - matches the trade's source and destination chains"
            },
            "description": "Directional corridor as source-dest - matches the trade's source and destination chains",
            "example": "84532-11155420"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Date From",
              "description": "Only trades created at or after this time (RFC 3339)"
            },
            "description": "Only trades created at or after this time (RFC 3339)",
            "example": "2026-06-20T00:00:00Z"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Date To",
              "description": "Only trades created at or before this time (RFC 3339)"
            },
            "description": "Only trades created at or before this time (RFC 3339)",
            "example": "2026-07-20T00:00:00Z"
          },
          {
            "name": "member",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Member",
              "description": "Admin/Owner only - case-insensitive match on member name or email; ignored for other callers"
            },
            "description": "Admin/Owner only - case-insensitive match on member name or email; ignored for other callers",
            "example": "ada@example.com"
          },
          {
            "name": "lpName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "LP Name",
              "description": "Case-insensitive match on LP display name or solver id"
            },
            "description": "Case-insensitive match on LP display name or solver id",
            "example": "lp-atlas"
          },
          {
            "name": "routingPath",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Routing Path",
              "description": "Filter by routing path type - direct or via_broker; pass all (or omit) for every path"
            },
            "description": "Filter by routing path type - direct or via_broker; pass all (or omit) for every path",
            "example": "direct"
          },
          {
            "name": "amountMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "title": "Amount Min",
              "description": "Minimum trade notional in USD (inclusive)"
            },
            "description": "Minimum trade notional in USD (inclusive)",
            "example": 100
          },
          {
            "name": "amountMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "title": "Amount Max",
              "description": "Maximum trade notional in USD (inclusive)"
            },
            "description": "Maximum trade notional in USD (inclusive)",
            "example": 50000
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Limit",
              "description": "Page size, clamped to [1, 100]",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, clamped to [1, 100]",
            "example": 25
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Offset",
              "description": "Number of records to skip",
              "default": 0
            },
            "description": "Number of records to skip",
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort By",
              "description": "Sort column: created_at (default), order_id, member, corridor, amount_usd, lp_name, routing_path, settlement_status, settlement_speed_ms - unrecognized values fall back to created_at"
            },
            "description": "Sort column: created_at (default), order_id, member, corridor, amount_usd, lp_name, routing_path, settlement_status, settlement_speed_ms - unrecognized values fall back to created_at",
            "example": "created_at"
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "title": "Sort Dir",
              "description": "Sort direction; defaults to desc",
              "default": "desc"
            },
            "description": "Sort direction; defaults to desc",
            "example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error Response: Authentication Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/trades/{orderId}": {
      "get": {
        "summary": "Trade by ID",
        "description": "Returns one trade's full dossier, keyed by its order id: trade details, on-chain settlement (including the settlement transaction hashes), LP info, and - for admin/owner callers - compliance, Travel Rule, proof, intent, and fee sections.",
        "operationId": "getTradeByOrderId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workspace Id",
              "description": "Workspace whose trades are returned - results are scoped to it"
            },
            "description": "Workspace whose trades are returned - results are scoped to it",
            "example": "ws_123"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Id",
              "description": "Order id from the trades list - trades are keyed by order id, not transaction hash"
            },
            "description": "Order id from the trades list - trades are keyed by order id, not transaction hash",
            "example": "ord_01J49..."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeDetail"
                }
              }
            }
          },
          "401": {
            "description": "Error Response: Authentication Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error Response: Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/trades/export": {
      "get": {
        "summary": "Export Trades",
        "description": "Bulk export of the workspace's trade history for reconciliation and reporting. Accepts the same filters and sorting as the trade list (without pagination) and streams the result as CSV.",
        "operationId": "exportTrades",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace ID."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by settlement status bucket; pass all (or omit) for every status."
          },
          {
            "name": "corridor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Directional corridor as source-dest."
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only trades created at or after this time (RFC 3339)."
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only trades created at or before this time (RFC 3339)."
          },
          {
            "name": "member",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Admin/Owner only - case-insensitive match on member name or email; ignored for other callers."
          },
          {
            "name": "lpName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive match on LP display name or solver id."
          },
          {
            "name": "routingPath",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by routing path type - direct or via_broker."
          },
          {
            "name": "amountMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Minimum trade notional in USD (inclusive)."
          },
          {
            "name": "amountMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum trade notional in USD (inclusive)."
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort column - same whitelist as the trade list; defaults to created_at."
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction; defaults to desc."
          }
        ],
        "responses": {
          "200": {
            "description": "CSV export of matching trades.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential (AUTH_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code",
            "description": "Machine-readable error code, e.g. AUTH_REQUIRED"
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "code"
        ],
        "title": "ApiError"
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "type": "object",
        "required": [
          "error"
        ],
        "title": "ErrorResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "MemberAttribution": {
        "properties": {
          "userId": {
            "type": "string",
            "title": "Userid"
          },
          "firstName": {
            "type": "string",
            "title": "Firstname"
          },
          "lastName": {
            "type": "string",
            "title": "Lastname"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "role": {
            "type": "string",
            "title": "Role",
            "description": "Workspace role of the member"
          },
          "kycStatus": {
            "type": "string",
            "title": "Kycstatus"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Joinedat"
          }
        },
        "type": "object",
        "required": [
          "userId",
          "firstName",
          "lastName",
          "email",
          "role",
          "kycStatus",
          "joinedAt"
        ],
        "title": "MemberAttribution",
        "description": "Member identity attached to a trade - present for admin/owner callers only."
      },
      "AssetDisplay": {
        "properties": {
          "assetId": {
            "type": "string",
            "title": "Assetid",
            "description": "Network-qualified asset identifier"
          },
          "symbol": {
            "type": "string",
            "title": "Symbol"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "decimals": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decimals"
          },
          "chainId": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chainid"
          },
          "chainRef": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chainref"
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address"
          },
          "resolutionStatus": {
            "type": "string",
            "enum": [
              "resolved",
              "unknown"
            ],
            "title": "Resolutionstatus"
          }
        },
        "type": "object",
        "required": [
          "assetId",
          "symbol",
          "resolutionStatus"
        ],
        "title": "AssetDisplay",
        "description": "Display identity for one token/asset."
      },
      "AssetAmountDisplay": {
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/AssetDisplay"
          },
          "rawAmount": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rawamount",
            "description": "Base-unit amount as a string"
          },
          "decimalAmount": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decimalamount",
            "description": "Human-readable decimal amount"
          }
        },
        "type": "object",
        "required": [
          "asset"
        ],
        "title": "AssetAmountDisplay",
        "description": "Raw and normalized amount for one asset side."
      },
      "TradeRouteDisplay": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/AssetAmountDisplay"
          },
          "output": {
            "$ref": "#/components/schemas/AssetAmountDisplay"
          }
        },
        "type": "object",
        "required": [
          "input",
          "output"
        ],
        "title": "TradeRouteDisplay",
        "description": "Canonical input/output route for display."
      },
      "RoutingPath": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "direct",
              "via_broker"
            ],
            "title": "Type"
          },
          "brokerWorkspaceId": {
            "type": "string",
            "title": "Brokerworkspaceid",
            "description": "Present when type is via_broker"
          },
          "brokerName": {
            "type": "string",
            "title": "Brokername",
            "description": "Present when type is via_broker"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "RoutingPath",
        "description": "How the LP reached this workspace: direct bilateral relationship, or via an affiliated broker."
      },
      "TradeLifecycleStep": {
        "properties": {
          "key": {
            "type": "string",
            "title": "Key"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "tone": {
            "type": "string",
            "title": "Tone"
          }
        },
        "type": "object",
        "required": [
          "key",
          "label",
          "tone"
        ],
        "title": "TradeLifecycleStep",
        "description": "A compact backend-owned display status step."
      },
      "TradeLifecycleStatus": {
        "properties": {
          "flowKind": {
            "type": "string",
            "title": "Flowkind",
            "description": "instant, deferred_auto_withdraw, or deferred_manual"
          },
          "primary": {
            "$ref": "#/components/schemas/TradeLifecycleStep"
          },
          "execution": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TradeLifecycleStep"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution"
          },
          "settlement": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TradeLifecycleStep"
              },
              {
                "type": "null"
              }
            ],
            "title": "Settlement"
          },
          "withdrawal": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TradeLifecycleStep"
              },
              {
                "type": "null"
              }
            ],
            "title": "Withdrawal"
          },
          "isTerminal": {
            "type": "boolean",
            "title": "Isterminal"
          },
          "rank": {
            "type": "integer",
            "title": "Rank"
          },
          "rawStatus": {
            "type": "string",
            "title": "Rawstatus"
          },
          "rawDeferredStatus": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rawdeferredstatus"
          }
        },
        "type": "object",
        "required": [
          "flowKind",
          "primary",
          "isTerminal",
          "rank",
          "rawStatus"
        ],
        "title": "TradeLifecycleStatus",
        "description": "Backend-owned display status for user-facing execution/settlement state."
      },
      "DeferredSettlementInfo": {
        "properties": {
          "stage": {
            "type": "string",
            "title": "Stage"
          },
          "executedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executedat"
          },
          "estimatedSettlementAvailableAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Estimatedsettlementavailableat"
          },
          "settlementWindowHours": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Settlementwindowhours"
          },
          "autoWithdraw": {
            "type": "boolean",
            "title": "Autowithdraw"
          },
          "withdrawalStatus": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Withdrawalstatus"
          },
          "withdrawalTrackingId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Withdrawaltrackingid"
          },
          "withdrawalTxHash": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Withdrawaltxhash"
          }
        },
        "type": "object",
        "required": [
          "stage",
          "autoWithdraw"
        ],
        "title": "DeferredSettlementInfo",
        "description": "Deferred LP settlement/withdrawal tracking, separate from the order's primary execution status."
      },
      "ExecutionPriceDisplay": {
        "properties": {
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Value"
          },
          "baseSymbol": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Basesymbol"
          },
          "quoteSymbol": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Quotesymbol"
          },
          "source": {
            "type": "string",
            "enum": [
              "stored_quote_price",
              "derived_from_amounts",
              "unavailable"
            ],
            "title": "Source"
          }
        },
        "type": "object",
        "required": [
          "source"
        ],
        "title": "ExecutionPriceDisplay",
        "description": "User-facing execution price."
      },
      "TradeListItem": {
        "properties": {
          "orderId": {
            "type": "string",
            "title": "Orderid",
            "description": "Order id - the trade's key for detail, timeline, and evidence lookups"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat",
            "description": "When the order was created (RFC 3339)"
          },
          "member": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MemberAttribution"
              },
              {
                "type": "null"
              }
            ],
            "title": "Member",
            "description": "Member who initiated the trade - present for admin/owner callers, omitted otherwise"
          },
          "sourceChain": {
            "type": "string",
            "title": "Sourcechain"
          },
          "destChain": {
            "type": "string",
            "title": "Destchain"
          },
          "route": {
            "$ref": "#/components/schemas/TradeRouteDisplay"
          },
          "amountUsd": {
            "type": "number",
            "title": "Amountusd",
            "description": "Trade notional in USD"
          },
          "lpName": {
            "type": "string",
            "title": "Lpname",
            "description": "Display name of the LP or provider that filled the trade"
          },
          "lpSource": {
            "type": "string",
            "title": "Lpsource",
            "description": "How the LP reached this workspace, e.g. Direct, via <broker>, TetraFi Router"
          },
          "routingPathLabel": {
            "type": "string",
            "title": "Routingpathlabel",
            "description": "Human-readable routing label, e.g. Direct, ViaBroker(...), CCTP Bridge"
          },
          "routingPath": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RoutingPath"
              },
              {
                "type": "null"
              }
            ],
            "title": "Routingpath"
          },
          "orderKind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Orderkind",
            "description": "Canonical route-aware order kind (cctp-v0 / composite-v0 / fx-v0 / ...) - omitted for non-route orders"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Canonical user-facing order lifecycle status"
          },
          "settlementStatus": {
            "type": "string",
            "title": "Settlementstatus",
            "description": "Coarse settlement bucket - the value the status filter matches against"
          },
          "lifecycleStatus": {
            "$ref": "#/components/schemas/TradeLifecycleStatus"
          },
          "deferredSettlement": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DeferredSettlementInfo"
              },
              {
                "type": "null"
              }
            ],
            "title": "Deferredsettlement"
          },
          "settlementSpeedMs": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Settlementspeedms",
            "description": "Milliseconds from order creation to settlement"
          },
          "executionPrice": {
            "$ref": "#/components/schemas/ExecutionPriceDisplay"
          },
          "slippageBps": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slippagebps",
            "description": "Realized slippage in basis points"
          }
        },
        "type": "object",
        "required": [
          "orderId",
          "createdAt",
          "sourceChain",
          "destChain",
          "route",
          "amountUsd",
          "lpName",
          "lpSource",
          "routingPathLabel",
          "status",
          "settlementStatus",
          "lifecycleStatus",
          "executionPrice"
        ],
        "title": "TradeListItem",
        "description": "A single trade in the paginated list view."
      },
      "TradeListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/TradeListItem"
            },
            "type": "array",
            "title": "Items",
            "description": "Trades in this page"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of trades matching the filters"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Offset this page starts at"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Effective page size"
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "offset",
          "limit"
        ],
        "title": "TradeListResponse",
        "description": "Paginated trade list response."
      },
      "TradeDetail": {
        "properties": {
          "trade": {
            "type": "object",
            "title": "Trade",
            "description": "Section A: trade details - the list-item fields plus fill time and slippage tolerance"
          },
          "settlement": {
            "type": "object",
            "title": "Settlement",
            "description": "Section B: on-chain settlement - per-stage transaction references (submit/fill/proof/finalise and a generic transactions list), including the settlement transaction hashes"
          },
          "orderKind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Orderkind",
            "description": "Canonical route-aware order kind - omitted for non-route orders"
          },
          "substatus": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Substatus",
            "description": "Finer-grained state within the coarse status"
          },
          "substatusMessage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Substatusmessage",
            "description": "Human-readable elaboration of substatus"
          },
          "legs": {
            "anyOf": [
              {
                "items": {
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Legs",
            "description": "Per-leg execution for multi-leg route orders; omitted for single-leg orders"
          },
          "member": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MemberAttribution"
              },
              {
                "type": "null"
              }
            ],
            "title": "Member",
            "description": "Member who initiated the trade - admin/owner callers only"
          },
          "lp": {
            "type": "object",
            "title": "Lp",
            "description": "Section C: LP info"
          },
          "compliance": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compliance",
            "description": "Compliance summary - admin/owner callers only"
          },
          "snapshotCompliance": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Snapshotcompliance",
            "description": "Per-order compliance snapshot captured at creation - admin/owner callers only"
          },
          "travelRuleTransmission": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Travelruletransmission",
            "description": "Latest Travel Rule transmission record - admin/owner callers only"
          },
          "complianceProofs": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Complianceproofs",
            "description": "Cryptographic and provenance proofs - admin/owner callers only"
          },
          "intent": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Intent",
            "description": "ERC-7683 intent envelope captured at submission - admin/owner callers only"
          },
          "fees": {
            "type": "object",
            "title": "Fees",
            "description": "Fee breakdown: gas, protocol fee, solver fee, relayer tips - omitted when the order predates fee capture"
          }
        },
        "type": "object",
        "required": [
          "trade",
          "settlement",
          "lp"
        ],
        "title": "TradeDetail",
        "description": "Full trade dossier keyed by order id. The settlement section carries the on-chain transaction hashes."
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Workspace API key (tfk_test_/tfk_live_); results are scoped to the key's workspace."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Workspace-session JWT; results are scoped to the caller's workspace membership."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    },
    {
      "bearerAuth": []
    }
  ]
}
